.App {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #746060;
  align-items: flex-start;
  justify-content: center;
}

body {
  
  justify-content: center;
  align-items: center;
  height: 100vh;
 
} 