.App {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: center;
}

body {
  
  justify-content: center;
  align-items: center;
  height: 100vh;
 
} 